{% extends "alsuper.html" %}
{% block content %}
<h2 class="course_listing_heading"><strong>Course: </strong> <a href="/courses/course/show/{{course.short_name}}">{{course.name}}</a></h2>
<h2 class="topic-name"><strong>Topic: </strong>{{topic.title}}</h2>
<div class="topic-navigation-top">
		<tr>
			{% if prev %}
				<td align="left">
					<a href="/courses/course/topic/show/{{course.short_name}}/{{prev.id}}">&lt;&lt; previous topic..</a>  
				</td>
			{% endif %}
			{% if next %}
				<td align="right">
					<a href="/courses/course/topic/show/{{course.short_name}}/{{next.id}}">..next topic &gt;&gt;</a> 
				</td>
			{% endif %}
		</tr>
	</table>
</div>
<p>
</p>
<p>
</p>
<div id="topic-content">
{{topic.content|safe}}
</div>
<br/>
<div id="share">
{% load sociable_tags %}
{% get_sociable Reddit Digg del.icio.us Facebook Google Slashdot StumbleUpon Tumblr YCombinator as sociable_links with url=request.path title=topic.title %}
<span style="color: #269926; font-size: 16px;">share:</span>
{% for link in sociable_links %}
    <a href="{{ link.link }}">
			<img alt="{{ link.site }}" title="{{ link.site }}" src="{{ link.image }}" />
    </a>
{% endfor %}
</div>
<br/>
<div>
<h3>Use the comment box below to ask questions or leave comments</h3>
</div>
<br/>
{% if comment_embed %}
<script type="text/javascript">
	var disqus_developer = 1;
</script>
{{ comment_embed|safe }}
{% endif %}
<div class="topic-navigation">
<table>
<tr>
{% if prev %}
<td align="left">
	<a href="/courses/course/topic/show/{{course_short_name}}/{{prev.id}}">&lt;&lt; previous topic..</a>  
</td>
{% endif %}
{% if next %}
<td align="right">
<a href="/courses/course/topic/show/{{course_short_name}}/{{next.id}}">..next topic &gt;&gt;</a> 
</td>
{% endif %}
</tr>
</table>
</div>
{% endblock %}

