{% extends "alsuper.html" %}
{% block content %}
<p>
	<b>COURSE: </b> <a href="/courses/course/show/{{course.short_name}}">{{course.name}}</a>
</p>
<div class="topic-navigation-top">
		<tr>
			{% if prev %}
				<td align="left">
					<a href="/courses/course/topic/show/{{course.short_name}}/{{prev.id}}">&lt;&lt; previous topic..</a>  
				</td>
			{% endif %}
			{% if next %}
				<td align="right">
					<a href="/courses/course/topic/show/{{course.short_name}}/{{next.id}}">..next topic &gt;&gt;</a> 
				</td>
			{% endif %}
		</tr>
	</table>
</div>
<p>
</p>
<p>
<span class="topic-name">{{topic.title}}</span>
</p>
<div id="topic-content">
{{topic.content|safe}}
</div>
<br/>
<div>
<h3>Use the comment box below to ask questions or leave comments</h3>
</div>
<br/>
{% if comment_embed %}
<script type="text/javascript">
	var disqus_developer = 1;
</script>
{{ comment_embed|safe }}
{% endif %}
<div class="topic-navigation">
<table>
<tr>
{% if prev %}
<td align="left">
	<a href="/courses/course/topic/show/{{course_short_name}}/{{prev.id}}">&lt;&lt; previous topic..</a>  
</td>
{% endif %}
{% if next %}
<td align="right">
<a href="/courses/course/topic/show/{{course_short_name}}/{{next.id}}">..next topic &gt;&gt;</a> 
</td>
{% endif %}
</tr>
</table>
</div>
{% endblock %}

