{% extends "alsuper.html" %}
{% block header%}
Profile:
{% endblock %}
{% block content %}
<form action="" method="POST">
	<table>
	<tr>
		<td><label for=''>username</label></td>
		<td><input type='text' name='username' value='{{user.username}}' id='id_username' readonly/></td>
	</tr>
	<tr>
		<td><label for=''>Full Name</label></td>
		<td><input type='text' name='full_name' value='{{user.get_profile.full_name}}' id='id_full_name' /> </td>
	</tr>
	<tr>
		<td><label for=''>password</label></td>
		<td><input type='password' name='password1' id='id_password1' /></td>
	</tr>
	<tr>
		<td><label for=''>retype password</label></td>
		<td><input type='password' name='password2' id='id_password2' /></td>
	</tr>
	<tr>
		<td><label for=''>Website </label></td>
		<td><input type='text' name='website' value='{{user.get_profile.website}}' id='id_website'/></td>
	</tr>
	<tr>
		<td><label for=''>Timezone </label></td>
		<td><input type='text' name='timezone' value='{{user.get_profile.timezone}}' id='id_timezone'/></td>
	</tr>
	<tr>
		<td><label for=''>About Yourself </label></td>
		<td><textarea name='bio' id='id_bio' cols='65' rows='10' />{{user.get_profile.bio}}</textarea></td>
	</tr>
	<tr>
		<td><input type='submit' value='submit' id='id_submit' /></td>
	</tr>
	</table>
</form>
<pre>
<b>Member since {{user.date_joined|date:"F Y"}}</b>
<br><b>Answered {{answers.count}} questions</b>
<table>
{%for answer in answers%}
<tr><td><a href='{{answer.question.forum}}'>{{answer.question.title}}</a></td></tr>
{%endfor%}
</table>

<br><b>Asked {{questions.count}} question{{questions.count|pluralize}}</b>
<table>
{% for question in questions %}
<tr><td><a href='{{question.forum}}'>{{question.title}}</a></td></tr>
{% endfor %}
</table>
</pre>
{% endblock %}

