{% extends "alsuper.html" %}
{% block header%}
{% endblock %}
{% block content %}
<pre>
<table>
	<tr>
		<td><b>User</b> {{profiled_user.username}}</td>
	</tr>
	<tr>
		<td><b>{{profiled_user.get_profile.full_name}} - Member since {{profiled_user.date_joined|date:"F Y"}}</b></td>
	</tr>
	{% if profiled_user.get_profile.timezone %}
	<tr>
		<td><b>Located in timezone</b> {{profiled_user.get_profile.timezone}}</td>
	</tr>
	{% endif %}
	<tr>
		<td><b>Website</b> <a href="{{profiled_user.get_profile.website}}" target="_blank">{{profiled_user.get_profile.website}}</a></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr><td><b>Bio</b></td></tr>
				<tr><td>{{profiled_user.get_profile.bio}}</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><b>Answered {{answers.count}} questions</b></td>
	</tr>
	<tr>
		<td>
			<table>
				{%for answer in answers%}
					<tr><td><a href='{{answer.question.forum}}'>{{answer.question.title}}</a></td></tr>
				{%endfor%}
			</table>
		</td>
	</tr>
	<tr>
		<td><b>Asked {{questions.count}} question{{questions.count|pluralize}}</b></td>
	</tr>
	<tr>
		<td>
			<table>
				{% for question in questions %}
				<tr><td><a href='{{question.forum}}'>{{question.title}}</a></td></tr>
				{% endfor %}
			</table>
		</td>
	</tr>
</table>
</pre>
{% endblock %}

