{% extends "alsuper.html" %}
{% block header%}
{% endblock %}
{% block content %}
<div class="link-theme-static">
	<p>
		<center><img src='/site-media/images/networked-learning.jpg'/></center>
	</p>
	<p>&nbsp;</p>
	<p>
		Adaptive Learning Online is a website for everyone who is interested in learning Computer Science related topics. We provide information and interactions for learning.
	</p>
	<p>
		We created this website because we felt that the Internet has vast amounts of information required to learn computer science. But this information is scattered all around the net making it intimidating to a new learner. We also realize that just information is not enough for a proper learning experience. There needs to be a place to ask questions, discuss various topics, do some exercises, get them reviewed, work on projects, and many other things. 
	</p>
	<p>
		We plan to curate existing multimedia content from the Internet and present it to learners in a structured manner. We will also provide tools for interaction and collaboration which people can use to enhance their learning process. A long time back I wrote a blog post on <a href='http://blog.adaptivesoftware.biz/2006/09/networked-reciprocal-learning.html'>networked reciprocal learning</a>. We are hoping to realize that vision of an ecosystem where people have access to information and interactions, and can learn in a space without any barriers.
	</p>

	<p>
		The website is free for use. Registration is not required to view material on this website, however several parts of the website such as forums do need registration. Registration is free, so please register and use the full potential of this website.
	</p>
</div>
{% endblock %}

