{% extends "alsuper.html" %}
{% block header %}
Edit the course
{% endblock %}
{% block content%}
<p>
<form action="/courses/manage/course/edit/" method="POST">
	Short Name: <input type="text" name="short_name" value="{% if course %}{{course.short_name}}{%endif%}"><br><br>
	Name: <input type="text" name="name" value="{% if course %}{{course.name}}{%endif %}"><br><br>
	Description: <textarea rows="10" cols="30" name="description">{% if course %}{{course.description}}{% endif %}</textarea><br><br>
	<input type="submit" value="Submit">
</form>
</p>
<p>
	<a href="/courses/manage/course/topic/add/{{course.short_name}}">Add a topic to this course</a>
</p>
<p>
	<form action="/courses/manage/course/topic/deletes/{{course.short_name}}" method="POST">
	<table>
	{%for topic in topics%}
		<tr>
			<td><input type="checkbox" name="{{course.short_name}}_{{topic.id}}"/></td>
			<td><a href="/courses/manage/course/topic/edit/{{course.short_name}}/{{topic.id}}">{{topic.title}}</a></td>
		</tr>
	{%endfor%}
		<tr>
			<td><input type="submit" value="Delete"></td>
			<td><button>Cancel</button></td>
		</tr>
	</table>
	</form>
</p>
{% endblock %}

